.featured-products-section {
  padding: 20px;
  background-color: #f5f5f5; /* Ajusta según tu diseño */
}

.featured-products-section h2 {
  text-align: left;
  color: rgb(14, 27, 77);
  padding: 20px;
}

.products-grid {
  margin: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  background-color: #e9e9e9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-info {
  text-align: center;
}

.product-title {
  margin: 0;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
.product-card a {
  text-decoration: none;
}

.product-price {
  margin: 5px 0 0 0;
  font-size: 14px;
  font-weight: 700;
  color: #393838;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .featured-products-section {
    padding: 20px;
  }
  .products-grid {
    margin: 20px;
    gap: 10px;
  }

  .product-card {
    width: 45%; /* Ajusta el ancho de las tarjetas para que quepan en dos filas */
    padding: 10px; /* Reduce el padding para ahorrar espacio */
  }

  .product-image {
    height: 180px; /* Ajusta la altura de las imágenes para que se adapten a los tamaños más pequeños */
  }

  .product-title {
    font-size: 14px; /* Reduce el tamaño de la fuente para pantallas más pequeñas */
  }
}

.load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.load-more-button:hover {
  background-color: #0056b3;
}
